


html {
    margin: 0px;
    padding: 0px;
    
}

body {
    margin: 0px;
    padding-top: 0px;
    padding-left: 0px;
    height: 547px;
    width: 1080px;
    background-color: var(--main-bg-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}
